form {
  max-width: 350px;
}

header {
  border-bottom: 1px solid #4f4466;
  background-color: #280657;
  background-image: var(--bs-gradient);
  color: #FFF;
}

main {
  background-image: linear-gradient(180deg, #FFF 0%, #007d7d 70%);
  min-height: calc(100vh - calc(1rem + 1px + calc(1.5 * calc(1.375rem + 1.5vw))));
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-header .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media only screen and (min-width: 1200px) {
  main {
    min-height: calc(100vh - calc(1rem + 1px + calc(1.5 * 2.5rem)));
  }
}